<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title> Stu Nicholls | CSSplay | Professional series #2</title>
</head>

<body>

<ul>
  <li><%=link_to("<b>Estados</b> ", :controller => "estados") %></li>
  <li><%=link_to("<b>Cidades</b> ", :controller => "cidades") %></li>
  <li><%=link_to("<b>Convenio</b> ", :controller => "convenios") %></li>
  <li><%=link_to("<b>Local</b> ", :controller => "locais") %></li>
  <li><%=link_to("<b>Pessoa</b> ", :controller => "pessoas") %></li>
  <li><%=link_to("<b>Consulta</b> ", :controller => "consultas") %></li>
</ul>

</body>
</html>